USE [master]
GO
/****** Object:  Database [ROBase]    Script Date: 2018/8/18 16:49:33 ******/
CREATE DATABASE [ROBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROBase', FILENAME = N'D:\办公软件\MSSQL实例\MSSQL12.MSSQLSERVER\MSSQL\DATA\ROBase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ROBase_log', FILENAME = N'D:\办公软件\MSSQL实例\MSSQL12.MSSQLSERVER\MSSQL\DATA\ROBase_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROBase]
GO
/****** Object:  Table [dbo].[BookCatalog]    Script Date: 2018/8/18 16:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCatalog](
	[Id] [nvarchar](50) NULL,
	[PId] [nvarchar](50) NULL,
	[Bookid] [nvarchar](50) NULL,
	[ParentName] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[Sort] [int] NULL,
	[BookContent] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookList]    Script Date: 2018/8/18 16:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookList](
	[ID] [nvarchar](50) NULL,
	[BookName] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
